<!DOCTYPE html>
<br>
<br>
<br>
<br>
<br>
<title>DESPERATESINGL.ES</title>
<header>DESPERATE<b>singl.es</b></header>
<head> <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	max-width: 400px;
<style>
header{
	max-width::600px;
	text-align: left;
	font-size: 80px;
	font-family:'Oswald', sans-serif;
	color: white;
	position: relative;
	left: 50px;
	top: 30px;
		;
	}	
	
	Body{
		font-family: helvetica;
		background-image:url("http://halfmanhalfgreek.files.wordpress.com/2010/07/sad-woman.jpg")
		

}
h2{
	font-size: 13px;
	text-align: left;
	padding-left: 50px
}
p {
    font-family: "helvetica";
    background-image:url("http://halfmanhalfgreek.files.wordpress.com/2010/07/sad-woman.jpg")
}
 button {
 	height: 20px
 }
 input{
  display: inline-block;
  position: relative;
  left: 225px;
  font-family:'Oswald', sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 10px;
}
 }
    input { border: 0;
 	padding: 10px;
 	font-size: 18px;
	position: relative;
 	left: 225px;
	font-family:'Oswald', sans-serif;
 	text-align: center;
	font-size: 24px;
	padding: 10px;
    }
    input[type="submit"]   {
            background: red;
            color: white;
            font-family: 'Oswald', sans-serif;
            position: relative;
            margin-left: 60px;
            border-radius: 10px;

}
	</style>

</head>

<body>
	<br>
	<br>
	<br>
	<br>
	<input type="login" placeholder="USERNAME"> size="100">
	<br>
	<br>
	<input type="password" placeholder="PASSWORD"> size="100">
<br>
<br>
	<input type="submit" placeholder="SIGN IN"> Size="100">

<h2></h2>


</body>
</html>
