
<!doctype html>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

<style>
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

/*MAIN*/
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family:'Oswald', sans-serif;
	color: #808080;
}



}

img {

	width: 100%;

}

header {

	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #4C9CF1;
	z-index: 100;
	font-family:'Oswald', sans-serif;

}

tim{
		font-family:'Oswald', sans-serif;
		color: black;
		font-size: 60px;
		float: left;
		padding: 20px;
}

nav {

	float: right;
	padding: 20px;	

}
a:link    {color:black;}
a:visited {color:black;}
a:hover   {color:red;}
a:active  {color:black;}

a.ex1:hover,a.ex1:active {color:red;}
a.ex2:hover,a.ex2:active {font-size:150%;}
}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

h1 {

	font-size: 24px;
	color: #black;
	line-height: 1.15em;
	margin: 20px 0 ;
	text-align: center;

}

h2 {

	font-size: 14px;
	color: #black;
	margin: 20px 0 ;
	margin-top: -30px;
	text-align: center;

}

p {

	line-height: 1.45em;
	margin-bottom: 20px;

}


</style>




</head>

<title>DS | About Us</title>
<tim>About Us</tim>

<body>

</body>


<nav>

<a href="#" id="menu-icon"></a>

<ul>

<li><a href="http://www.desperatesingl.es/" class="current">Home</a></li>
<li><a href="#">Love</a></li>
<li><a href="#">Thoughts</a></li>
<li><a href="#">Prayers</a></li>
<li><a href="#">Contact</a></li>

</ul>
</nav>
</header>



<h1><br><br><br><br><br><br><br><br><br><br>Hold tight, Desperados- <br><br><h2>We're working on bringing romantic relief to you shortly.</h2></p>
</h1>


<p></p>

<p></p>

</section>

</body>
<a><div style="height:100%; width:100%;">
<img src="http://i.imgur.com/SzIQgBD.png" style="position:absolute; float:right; right:0px; bottom:0px; z-index:2;">
</div></a>
</html>
