<!doctype HTML>

<h1>T H O U G H T S</h1>
<br>
<blockquote><h3>"There is no desperation like desperation itself" --FDR, on the Great Depression of your dating life</h3></blockquote>

<footer><nav>

<a href="#" id="menu-icon"></a>

<ul>

<li><a href="http://www.desperatesingl.es/home" style="text-decoration: none" class="current">Home</a></li>
<li><a href="http://www.desperatesingl.es/about" style="text-decoration: none">About</a></li>
<li><a href="http://www.desperatesingl.es/love" style="text-decoration: none">Love</a></li>
<li><a href="http://www.desperatesingl.es/thoughts" style="text-decoration: none">Thoughts</a></li>
<li><a href="http://www.desperatesingl.es/contact" style="text-decoration: none">Contact</a></li>

</ul>
</html>